@import "./global.scss";
@import "./variables.scss";
//Homepage styles
@import "./homePage.scss";
//Blog card styles
@import "./blogCard.scss";
//Static layout styles
@import "./appLayout.scss";
//Dashboard styles
@import "./dashboard.scss";
//New blogpost styles
@import "./newBlog.scss";
.blog {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    min-height: 100vh;

    &-container {
        width: 90vw;
        margin: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
    }
}

.blog-none {
    font-size: 30px;
    font-family: "Anton";
    color: $text;
    text-align: center;
}

.blog-new-wrap {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding-block: 20px;
}

.blog-new {
    font-family: "Roboto";
    font-size: 16px;
    background: #a8f59b;
    padding: 10px 15px;
    box-shadow: 0px 1px 2px #999;
    &:hover {
        opacity: 0.6;
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
