.blog-card {
    background: #fff;
    box-shadow: 1.3px 2.3px 5.3px rgba(0, 0, 0, 0.028),
        4.5px 7.8px 17.9px rgba(0, 0, 0, 0.042),
        20px 35px 80px rgba(0, 0, 0, 0.07);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 600px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    &-user-wrap {
        display: flex;
        align-items: center;
    }

    &-user_icon {
        color: #5275a7;
        font-size: 20px;
        @include mq(470px) {
            font-size: 25px;
        }
    }

    &-user_name {
        font-size: 13px;
        font-family: "Bebas Neue";
        color: $text;
        margin-left: 5px;
        @include mq(470px) {
            font-size: 18px;
        }
    }

    &-created_at {
        font-size: 10px;
        font-family: "Roboto";
        @include mq(470px) {
            font-size: 15px;
        }
    }

    &-text-wrap {
    }

    &-headline {
        font-family: "Anton";

        font-size: 16px;
        padding: 10px;
        color: $text-blog;

        @include mq(360px) {
            font-size: 20px;
        }
        @include mq(420px) {
            font-size: 22px;
        }
        @include mq(470px) {
            font-size: 27px;
        }
    }

    &-p {
        display: none;
        font-family: "Roboto";
    }

    .show {
        display: block;
        font-size: 13px;
        padding: 10px;
    }

    &-footer {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    &-action {
        display: flex;
        align-items: center;
        color: $blue-dark;
    }

    &-likes {
        display: flex;
        align-items: center;
        margin-right: 10px;
        height: 50%;
    }

    &-like {
        margin-right: 5px;
        font-size: 12px;
    }
    &-likes-number {
        font-weight: bold;
        font-size: 12px;
    }

    &-comment {
        font-family: "Roboto";
        font-weight: 500;
    }

    &-readmore {
        font-weight: 600;
        color: $blue-dark;
    }
}
