.blog-comment {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #999;
    position: relative;
    margin: 10px 0px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    &-profile {
        display: flex;
        align-items: center;
    }

    &-username {
        margin-left: 5px;
        font-size: 13px;
        font-family: "Bebas Neue";
    }

    &-date {
        font-size: 10px;
    }

    &-p {
        font-size: 13px;
        padding: 10px;
    }
}
