.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-headline {
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 35px;
        color: $text;
        margin-top: 150px;

        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        @include mq(470px) {
            font-size: 40px;
        }
        @include mq(768px) {
            font-size: 50px;
        }
        @include mq(1024px) {
            font-size: 60px;
        }
    }

    &-blog {
        display: flex;
        flex-direction: column;
        /* align-items: center; */

        padding-block: 20px;
        max-width: 600px;
        margin: auto;
        width: 90vw;
    }

    &-new-blog {
        font-family: "Roboto";
        font-size: 16px;
        background: #a8f59b;
        padding: 10px 15px;
        box-shadow: 0px 1px 2px #999;
        width: 100px;
        &:hover {
            opacity: 0.6;
        }
    }

    &-blog-header {
        display: flex;
        justify-content: space-between;
    }

    &-blog-id {
        font-family: "Bebas Neue";
        padding-block: 10px;
        text-align: left;
    }
    &-blog-delete {
        font-family: "Bebas Neue";

        transition: all 0.4s ease;
        &:hover {
            opacity: 0.5;
        }
    }
}

.no-posts {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &::after {
        content: "You have no posts";
        color: mix($text, $bg, $weight: 60%);
    }
}
